#--------------------------#
# Magento Default Files    #
#--------------------------#

/app/etc/*
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/functions.php

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml

#--------------------------#
# Vendor                   #
#--------------------------#

/vendor/

#--------------------------#
# Mac system files         #
#--------------------------#

.DS_Store
.DS_STORE

#--------------------------#
# Windows system files     #
#--------------------------#

Thumbs.db

#--------------------------#
# IDE project files        #
#--------------------------#

.idea/
*.sublime-project
*.sublime-workspace
*.phpintel

#--------------------------#
# Magento Root             #
#--------------------------#

/*.txt
/*.md
/*.htaccess
/*.sample
/*.ini
/*.dist
/*.yml

/index.php

/dev/shell

/dev/tests/*/framework
/dev/tests/*/testsuite/Magento
/dev/tests/*/tmp
/dev/tests/*/etc
/dev/tests/*/*.*
/dev/tests/*.*
/dev/tests/api-functional/config
/dev/tests/api-functional/_files/Magento
/dev/tests/js/JsTestDriver/framework
/dev/tests/js/JsTestDriver/testsuite/lib
/dev/tests/js/JsTestDriver/testsuite/mage
/dev/tests/js/JsTestDriver/*.*
/dev/tests/js/jasmine/assets
/dev/tests/js/jasmine/spec_runner
/dev/tests/js/jasmine/tests/app/code/Magento
/dev/tests/js/jasmine/tests/lib/mage
/dev/tests/js/jasmine/*.*
/dev/tests/performance
/dev/tests/functional/lib/Magento
/dev/tests/functional/tests/app/Magento
/dev/tests/functional/testsuites/Magento
/dev/tests/functional/utils
/dev/tests/integration
/dev/travis

/dev/tools/Magento
/dev/tools/grunt
/dev/tools/*.*

/dev/*.*

/phpserver
/lib
/pub
/setup
/var
/bin
/generated

#--------------------------#
# Composer                 #
#--------------------------#

/composer.phar
/composer.lock
