#--------------------------#
# Magento Default Files    #
#--------------------------#

/app/etc/*
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/functions.php

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml

#--------------------------#
# Vendor                   #
#--------------------------#

/vendor/

#--------------------------#
# Mac system files         #
#--------------------------#

.DS_Store
.DS_STORE

#--------------------------#
# Windows system files     #
#--------------------------#

Thumbs.db

#--------------------------#
# IDE project files        #
#--------------------------#

.idea/
*.sublime-project
*.sublime-workspace
*.phpintel

#--------------------------#
# Magento Root             #
#--------------------------#

/*.txt
/*.md
/*.htaccess
/*.sample
/*.ini
/*.dist
/*.yml

/index.php

/phpserver
/lib
/pub
/setup
/var
/bin
/generated

/node_modules/*
package-lock.json

#--------------------------#
# Composer                 #
#--------------------------#

/composer.phar
/composer.lock

#--------------------------#
# GitHub                   #
#--------------------------#
.github

#--------------------------#
# Magestyle                #
#--------------------------#
/app/code/Magestyle
/app/design/frontend/Magestyle/

#--------------------------#
# Grunt Local Themes       #
#--------------------------#

dev/*
!dev/tools/grunt/configs/local-themes.js
!dev/tools/grunt/configs/browserSync.js
